.header {
    background-color: #1e293b;
    color: white;
    padding: 1rem 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: calc(100vh - 120px);
}


.footer {
  background-color: #1e293b;
  color: white;
  text-align: center;
  padding: 1rem;
}